@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400i,700,700i,800,800i');

// customize styles
$black: #000;
$family-sans-serif: 'Open Sans', sans-serif;

@import '~bulma';

// HEADER
.hero-image {
  //   width: 100%;
  height: 700px;
  background: url('~/assets/images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  //   background-attachment: fixed;
}
